*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	box-shadow: none !important; 
}
.bgs{
	background: #333;
	height: 44px;
	line-height: 44px;
	z-index: 1111;
}
.bgs>*{
	color: #fff;
	font-size: 16px;
}
.bgs>span.mui-icon{
	font-weight: bold;
}
span.offs{
	display: block;
	float: right;
	width: 20px;
	height: 10px;
}
span.offsL{
	display: block;
	float: left;
	width: 20px;
	height: 10px;
}
a.mui-action-back{
	border-right: 1px solid #222;
}
.hides{
	visibility: hidden;
}

