body{
	background: #fff;
}

.l-main{
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	background: #fff;
}
.l-main .l-main-li{
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	background: #fff;
}
.l-main .l-main-li img,.l-main .l-main-li p{
	float: left;
	margin: 0;
}
.l-main .l-main-li img{
	width: 50px;
	height: 50px;
	margin-right: 25px;
}
.l-main .l-main-li p{
	position: relative;
	display: inline-block;
	max-width: 60%;
	padding: 10px;
	border-radius: 5px;
	background: #f8f8f8;
}
.l-main .l-main-li p span.sjx-left{
	position: absolute;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-left: 20px solid transparent;
	border-right: 20px solid #f8f8f8;
	left: -30px;
	top: 1px;
}
footer{
	display: inline-block;
	padding: 5px 10px;
	width: 100%;
	height: 45px;
	border-top: 1px solid #eee;
	background: #f5f5f5;
	position: fixed;
	bottom:0px;
}
footer>div{
	float: left;
	height: 34px;
	font-size: 34px;
	text-align: center;
}
footer>div>span{
	height: 100%;
	font-size: 34px;
	color: #666;
}
footer .div-lefts{
	width: 10%;
}
footer .div-lefts1{
	width: 70%;
}
footer .div-lefts1 input{
	width: 100%;
	border:none;
	height: 30px;
	border-bottom:1px solid #ccc;
	background:rgba(0,0,0,0);
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
.text-hides{
	display: none;
	background: #0c0;
	color: #fff;
	border: 1px solid #090;
	height: 34px;
}
footer .div-lefts1 input:focus{
	border-bottom:1px solid #0c0;
}
footer .div-lefts1 input:focus .text-hides{
	display: inline-block;
}
footer .div-lefts1 input:focus .mui-icon-plus{
	display: none;
}
footer .div-lefts2{
	width: 10%;
}
footer .div-lefts3{
	width: 10%;
}
